{% load static %}

<footer class="footer">
    <div class="footer-left">
        <p class="about">
            <span style="font-size: large"> 50여 년 역사,
수산업의 명장 은하수산</span> 1970년 부산 자갈치 시장 ‘영도상회’를 모태로 설립된 은하수산은, 오랜 수산업 현장에서의 노하우를 바탕으로 업계를 선도할 수 있는
            밑그림을 그려갑니다. 드넓은 천체 속에서도 가장 크고 영롱하게 빛나는 은하수처럼, 과거-현재-미래 세대를 잇는 올바르고 신뢰받는 큰 기업으로서 칭찬받는 은하수산이 될 것을 약속합니다.
        </p>
        <div class="icons">
            <a href="https://www.facebook.com/%EC%9D%80%ED%95%98%EC%88%98%EC%82%B0-101751988242778/"><i class="fa-brands fa-facebook-square"></i></a>
             <a href="https://www.instagram.com/eunhafish_official/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCKwF5-LswayHIEvRBPa2Y6A"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://pf.kakao.com/_CnCvxb"><i class="fa-solid fa-comment-sms"></i></a>
            <a href="https://smartstore.naver.com/eunha?NaPm=ct%3Dl23zfhyn%7Cci%3Dcheckout%7Ctr%3Dds%7Ctrx%3D%7Chk%3D7173198ff3e3312d024a9dbf43184b228eca5043"><i
                    class="fa-brands fa-shopify"></i></a>
        </div>
    </div>
    <div class="footer-center">
        <div class="footer-icon">
            <i style="height: 35px" class="fa fa-map-marker"></i>
            <p><span>주소</span><a
                    href=https://www.google.com/maps/place/%EB%B6%80%EC%82%B0%EA%B4%91%EC%97%AD%EC%8B%9C+%EA%B0%95%EC%84%9C%EA%B5%AC+%EB%85%B9%EC%82%B0%EC%82%B0%EB%8B%A8381%EB%A1%9C+36/data=!4m5!3m4!1s0x3568dade4a0667e7:0x4b40cf1a1ed083bf!8m2!3d35.0919627!4d128.8594615>
                부산광역시 강서구 녹산산단 381로 36 (송정동) </a></p>
        </div>
        <div class="footer-icon">
            <i style="height: 35px" class="fa fa-phone"></i>
            <p><span>연락처</span> 051. 831. 1622 </p>
        </div>
        <div class="footer-icon">
            <i style="height: 35px" class="fa fa-envelope"></i>
            <p><span>홈페이지</span><a href="https://www.eunhafisheries.com/"> https://www.eunhafisheries.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <img style="height: 100px;" src="{% static 'img/logo_on.svg' %}">
        <p class="menu">
            <a href="https://www.coupang.com/np/search?q=%EC%9D%80%ED%95%98%EC%88%98%EC%82%B0&src=1042001&spec=10304941&addtag=200&ctag=%EC%9D%80%ED%95%98%EC%88%98%EC%82%B0&lptag=%EC%9D%80%ED%95%98%EC%88%98%EC%82%B0&itime=20220418100613&pageType=SEARCH&pageValue=%EC%9D%80%ED%95%98%EC%88%98%EC%82%B0&wPcid=14300686389340476317715&wRef=search.naver.com&wTime=20220418100613&redirect=landing">
                쿠팡</a> |
            <a href="http://browse.gmarket.co.kr/search?keyword=%ec%9d%80%ed%95%98%ec%88%98%ec%82%b0&jaehuid=200001102">
                G마켓</a> |
            <a href="http://browse.auction.co.kr/search?keyword=%EC%9D%80%ED%95%98%EC%88%98%EC%82%B0&pid=294"> 옥션</a> |
            <a href="http://search.tmon.co.kr/search?keyword=%EC%9D%80%ED%95%98%EC%88%98%EC%82%B0&utm_source=naver_sa_pc&utm_medium=SA&thr=hsa&pmx_tag_id=4eet&utm_campaign=SA_%EB%84%A4%EC%9D%B4%EB%B2%84_%EC%B9%B4%ED%85%8C%EA%B3%A0%EB%A6%AC">
                티몬</a> |
            <a href="https://search.11st.co.kr/Search.tmall?kwd=%25EC%259D%2580%25ED%2595%2598%25EC%2588%2598%25EC%2582%25B0&code=1033&utm_term=%C0%BA%C7%CF%BC%F6%BB%EA&utm_campaign=0402_%B3%D7%C0%CC%B9%F6PC&utm_source=%B3%D7%C0%CC%B9%F6_PC_S&utm_medium=%B0%CB%BB%F6">
                11번가</a> |
            <a href="https://search.wemakeprice.com/search?keyword=%EC%9D%80%ED%95%98%EC%88%98%EC%82%B0&utm_source=naver&utm_medium=cpc&utm_campaign=r_sa&utm_term=%EC%9D%80%ED%95%98%EC%88%98%EC%82%B0&utm_content=bulk&NaPm=ct%3Dl240qfuw%7Cci%3D0AC0000bIzLwkXwkxfjG%7Ctr%3Dsa%7Chk%3D3820d1ec707d35f70afd92a791c5a7a365c7aa42">
                위메프</a> |
            <a href="https://display.cjonstyle.com/p/search/searchAllList?BSCPN=CJmall&k=%EC%9D%80%ED%95%98%EC%88%98%EC%82%B0&n_ad=nad-a001-01-000000133326910&n_ad_group=grp-a001-01-000000021190192&n_ad_group_type=1&n_campaign_type=1&n_keyword=%EC%9D%80%ED%95%98%EC%88%98%EC%82%B0&n_keyword_id=nkw-a001-01-000003673094485&n_media=27758&n_query=%EC%9D%80%ED%95%98%EC%88%98%EC%82%B0&n_rank=6&utm_campaign=web_food&utm_content=keyword&utm_medium=search&utm_source=naver&utm_term=%EC%9D%80%ED%95%98%EC%88%98%EC%82%B0&NaPm=ct%3Dl240petk%7Cci%3D0zi0003rIjLwHhfNKLmE%7Ctr%3Dsa%7Chk%3D3e8cee73ef25f0e7e0e71fff2aa777d050cdcc68&__ref=https%3A%2F%2Fsearch.naver.com%2Fsearch.naver%3Fsm%3Dtab_hty.top%26where%3Dnexearch%26query%3D%25EC%259D%2580%25ED%2595%2598%25EC%2588%2598%25EC%2582%25B0%26oquery%3D%25EC%259D%2580%25ED%2595%2598%25EC%2594%25A8%25EB%25A7%2588%25EC%25BC%2593%26tqi%3DhDyxVdprvxZssRdKjr8ssssstmZ-079886">
                CJ온스타일</a>
        </p>
        <p class="name"> Copyright &copy; 2020 Eunha Fisheries. </p>
    </div>
</footer>